<h1>lunar-year works!</h1>

<table>
  <tr>
    <th colspan="8">Chuyển đổi Dương lịch thành Âm lịch</th>
  </tr>
  <tr>
    <td colspan="8">
      Date
      <select class="form-select" name="wDates" id="wDates">
        <!-- <option *ngFor="let date of dates">{{ date }}</option> -->
      </select>
      Month
      <select class="form-select" name="wMonths" id="wMonths">
        <!-- <option *ngFor="let month of months">{{ month }}</option> -->
      </select>
      Year
      <select class="form-select" name="wYears" id="wYears">
        <!-- <option *ngFor="let year of years">{{ year }}</option> -->
      </select>
      <!-- <button (click)="findLunarYearDetails()">Convert</button> -->
    </td>
  </tr>
  <tr>
    <th colspan="8">Lunar Year</th>
  </tr>

  <tr>
    <td colspan="3">Weekday</td>
    <!-- <td colspan="5"><input type="text" [(ngModel)]="eWeekday" disabled /></td> -->
  </tr>

  <tr>
    <td colspan="3">Eastern Full Date</td>
    <!-- <td colspan="5"><input type="text" [(ngModel)]="eFullDate" disabled /></td> -->
  </tr>

  <tr>
    <td colspan="3">Eastern Year</td>
    <!-- <td colspan="5"><input type="text" [(ngModel)]="eYear" disabled /></td> -->
  </tr>

  <tr>
    <td colspan="3">Tháng</td>
    <!-- <td colspan="5"><input type="text" [(ngModel)]="eMonth" disabled /></td> -->
  </tr>

  <tr>
    <td colspan="3">Eastern Date</td>
    <!-- <td colspan="5"><input type="text" [(ngModel)]="eDay" disabled /></td> -->
  </tr>
</table>

<!-- <button (click)="findEMonth(12)">lorem</button> -->
<!-- <div>{{ eMonth }}</div> -->
