<h1>Edit {{ selectedBook.title }}</h1>
<div>
  <label for="">ISBN</label>
  <input
    type="text"
    value="{{ selectedBook.isbn }}"
    disabled
    [(ngModel)]="selectedBook.isbn"
  />

  <label for="title">Title</label>
  <input
    style="width: 540px"
    type="text"
    id="title"
    value="{{ selectedBook.title }}"
    [(ngModel)]="selectedBook.title"
  />

  <br />

  <label for="subtitle">Subtitle</label>
  <input
    type="text"
    name="subtitle"
    id="subtitle"
    value="{{ selectedBook.subtitle }}"
    [(ngModel)]="selectedBook.subtitle"
  />

  <label for="price">Price</label>
  <input
    type="text"
    name="price"
    id="price"
    value="{{ selectedBook.price }}"
    [(ngModel)]="selectedBook.price"
  />

  <br />

  <label for="author">Author</label>
  <input
    type="text"
    name="author"
    id="author"
    value="{{ selectedBook.author }}"
    [(ngModel)]="selectedBook.author"
  />

  <label for="published">Published</label>
  <input
    type="text"
    name="published"
    id="published"
    value="{{ selectedBook.published }}"
    [(ngModel)]="selectedBook.published"
  />

  <br />

  <label for="inventory">Inventory</label>
  <input
    type="text"
    name="inventory"
    id="inventory"
    value="{{ selectedBook.inventory }}"
    [(ngModel)]="selectedBook.inventory"
  />

  <label for="publisher">Publisher</label>
  <input
    type="text"
    name="publisher"
    id="publisher"
    value="{{ selectedBook.publisher }}"
    [(ngModel)]="selectedBook.publisher"
  />

  <br />

  <label for="pages">Pages</label>
  <input
    type="text"
    name="pages"
    id="pages"
    value="{{ selectedBook.pages }}"
    [(ngModel)]="selectedBook.pages"
  />

  <label for="website">Website</label>
  <input
    type="text"
    name="website"
    id="website"
    value="{{ selectedBook.website }}"
    [(ngModel)]="selectedBook.website"
  />

  <br />
  <label for="description">Description</label>
  <textarea name="Description" id="description" cols="30" rows="10">{{
    selectedBook.description
  }}</textarea>
</div>

<br />
<div style="display: flex; justify-content: center">
  <button
    class="red"
    (click)="goBack()"
    style="margin-right: 20px; width: 100px; height: 40px"
  >
    Go Back
  </button>
  <button class="green" (click)="putBook()" style="width: 100px; height: 40px">
    Edit
  </button>
</div>
