<h1>Module 01</h1>

<table>
  <tr>
    <td>
      <button routerLink="/my-component">Module01/Binding</button>
    </td>
    <td>
      <button routerLink="/binding-property-component">
        Module01/PropertyBinding
      </button>
    </td>
    <td>
      <button routerLink="/binding-class">Module01/ClassBinding</button>
    </td>
    <td>
      <button routerLink="/binding-style">Module01/StyleBinding</button>
    </td>
    <td>
      <button routerLink="/binding-event">Module01/EventBinding</button>
    </td>
    <td>
      <button routerLink="/binding-two-way">Module01/TwoWayBinding</button>
    </td>
    <td>
      <button routerLink="/quadratic-equation">
        Module01/QuadraticEquation
      </button>
    </td>
    <td>
      <button routerLink="/lunar-year">Module01/LunarYear</button>
    </td>
    <td>
      <button routerLink="/json-object-model">Module01/JsonObjectModel</button>
    </td>

    <td>
      <button routerLink="/json-array-model">Module01/JsonArrayModel</button>
    </td>
  </tr>
</table>

<router-outlet></router-outlet>
