<h1>bai14 works!</h1>

<table>
  <tr>
    <th colspan="2">Category ID</th>
    <th colspan="2">Category Name</th>
  </tr>
  <tbody *ngFor="let cat of Categories">
    <tr>
      <td colspan="2">
        {{ cat.Cateid }}
      </td>
      <td colspan="2">{{ cat.CateName }}</td>
    </tr>

    <tr>
      <td>Product ID</td>
      <td>Product Name</td>
      <td>Product Price</td>
      <td>Product Picture</td>
    </tr>
    <tr *ngFor="let prod of cat.Products">
      <td>{{ prod.ProductId }}</td>
      <td>{{ prod.ProductName }}</td>
      <td>{{ prod.Price }}</td>
      <td>
        <img [src]="prod.Image" [alt]="prod.ProductID" />
      </td>
    </tr>
  </tbody>
</table>
