* {
  box-sizing: border-box;
  font-size: 20px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px double black;
}

table th {
  text-align: center;
  background-color: rgb(52, 177, 52);
}

table td {
  text-align: left;
}

table tr td img {
  height: 100px;
}
