<h1>Module 02</h1>
<table>
  <tr>
    <td>
      <button routerLink="/b11">B11</button>
    </td>
    <td>
      <button routerLink="/b12">B12</button>
    </td>
    <td>
      <button routerLink="/b13">B13</button>
    </td>
    <td>
      <button routerLink="/b14">B14</button>
    </td>
    <td>
      <button routerLink="/b15">B15</button>
    </td>
    <td>
      <button routerLink="/b16">B16</button>
    </td>
    <td>
      <button routerLink="/b17">B17</button>
    </td>
  </tr>
</table>

<router-outlet></router-outlet>
