<h1>b14 works!</h1>

<table>
  <tr>
    <th colspan="2">Category ID</th>
    <th colspan="2">Category Name</th>
  </tr>
  <tbody *ngFor="let c of Categories">
    <tr>
      <th colspan="2">
        {{ c.CateID }}
      </th>
      <th colspan="2">
        {{ c.CateName }}
      </th>
    </tr>
    <tr *ngFor="let p of c.Products">
      <td>
        {{ p.ProductID }}
      </td>
      <td>
        {{ p.ProductName }}
      </td>
      <td>
        {{ p.Price }}
      </td>
      <td>
        <img [src]="p.Image" [alt]="p.ProductName" height="100px" />
      </td>
    </tr>
  </tbody>
</table>
