<h1>b13 works!</h1>
<table>
  <tr>
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Product Image</th>
    <th>#</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>
      {{ product.id }}
    </td>
    <td>
      {{ product.name }}
    </td>
    <td>
      {{ product.price }}
    </td>
    <td>
      <img [src]="product.image" height="100" />
    </td>
    <td>
      <a
        style="cursor: pointer"
        (click)="viewDetail(product)"
        title="Click here to view detail"
        >Details</a
      >
    </td>
  </tr>
</table>
